<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title id="title">Title</title>
</head>
<body id="content">
    <div class="container">
        <form action="#" th:action="@{/station/recipe/manage}" method="post" th:object="${recipe}">
            <input type="hidden" th:field="*{id}">
            <h4 th:text="'Manage Recipe | ' + *{itemByItemId.name}"></h4>
            <div class="form-group">
                <div class="col-lg-6">
                    <label for="item">Item</label>
                    <select id="item" th:field="*{itemByItemId.id}" class="form-control">
                        <option th:each="itemToSelect : ${itemList}" th:value="${itemToSelect.id}"
                                th:text="${itemToSelect.id + ' ' + itemToSelect.name}"></option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="price">Price</label>
                    <input id="price" type="number" min="0" th:field="*{price}" class="form-control">
                </div>
                <div class="col-lg-3">
                    <label for="hours">Crafting Hours</label>
                    <input id="hours" type="number" min="0" th:field="*{hours}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <label for="profession">Profession</label>
                    <select id="profession" th:field="*{professionByProfessionId.id}" class="form-control">
                        <option th:each="professionToSelect : ${professionList}" th:value="${professionToSelect.id}"
                                th:text="${professionToSelect.id + ' ' + professionToSelect.name}"></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="tier">Tier</label>
                    <input id="tier" type="number" min="1" max="10" th:field="*{professionTier}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="form-control btn btn-primary">
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <th>Item</th>
                <th>Amount</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="itemRequirement : ${recipe.craftingRecipeItemRequirementsById}">
                    <td th:text="${itemRequirement.itemByItemId.id + ' - ' + itemRequirement.itemByItemId.name}"></td>
                    <td th:text="${itemRequirement.amount}"></td>
                    <td>
                        <form action="#" th:action="@{/station/recipe/removeitemrequirement}" method="post">
                            <input type="hidden" name="itemRequirementId" th:value="${itemRequirement.id}">
                            <input type="hidden" name="recipeId" th:value="${recipe.id}">
                            <input type="submit" value="Remove" class="btn btn-primary">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <form action="#" th:action="@{/station/recipe/additemrequirement}" method="post" th:object="${createItemRequirement}">
            <h4>Add Item Requirement</h4>
            <input type="hidden" name="craftingRecipeByRecipeId.id" th:value="${recipe.id}">
            <div class="form-group">
                <label for="itemToRequire">Item</label>
                <select id="itemToRequire" th:field="*{itemByItemId.id}" class="form-control">
                    <option th:each="itemToSelect : ${itemList}" th:value="${itemToSelect.id}"
                            th:text="${itemToSelect.id + ' ' + itemToSelect.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input id="amount" type="number" th:field="*{amount}" min="0" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="form-control btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>