<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="craftingrequests">
    <!--/*@thymesVar id="manageModel" type="toker.warbandscripts.panel.model.PlayerManageModel"*/-->
    <div class="container">
        <h4 th:text="'Crafting Requests of ' + ${manageModel.player.name}"></h4>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Crafted Item</th>
                <th>Station Instance ID</th>
                <th>Starting Time</th>
                <th>Crafting Hours</th>
                <th>Was Spawned</th>
            </thead>
            <tbody>
                <tr th:each="craftingRequest : ${manageModel.player.craftingRequests}">
                    <td th:text="${craftingRequest.id}"></td>
                    <td th:text="${craftingRequest.craftingRecipe.itemByItemId.name}"></td>
                    <td th:text="${craftingRequest.craftingStationInstance.id}"></td>
                    <td th:text="${craftingRequest.creationTime.toGMTString()}"></td>
                    <td th:text="${craftingRequest.craftingRecipe.hours}"></td>
                    <td th:text="${craftingRequest.taken ? 'Spawned' : 'Being Crafted'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>