<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="doorkeys">
    <!--/*@thymesVar id="doorKeysModel" type="toker.warbandscripts.panel.model.PlayerDoorKeysModel"*/-->
    <div class="container">
        <h4 th:text="'Door keys of ' + ${doorKeysModel.player.name}"></h4>
        <form action="#" th:action="@{/player/adddoorkey}" method="post">
            <input type="hidden" name="playerId" th:value="${doorKeysModel.player.id}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <select name="doorId" id="doorList" class="form-control">
                            <!--/*@thymesVar id="doorList" type="java.util.List<toker.warbandscripts.panel.entity.Door>"*/-->
                            <option th:each="door : ${doorList}" th:text="${door.id + ' - ' + door.name}" th:value="${door.id}"></option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="checkbox" name="isOwner" id="cbIsOwner" class="form-check-input">
                        <label for="cbIsOwner" class="form-check-label">Is Owner</label>
                    </div>
                    <input type="submit" value="Add Key" class="form-control btn btn-primary col-lg-4">
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
            <th>ID</th>
            <th>Door Name</th>
            <th>Door ID</th>
            <th>Is Owner</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="doorKey : ${doorKeysModel.doorKeys}">
                <td th:text="${doorKey.id}"></td>
                <td th:text="${doorKey.doorByDoorId.name}"></td>
                <td th:text="${doorKey.doorByDoorId.id}"></td>
                <td th:text="${doorKey.isOwner ? 'Yes' : 'No'}"></td>
                <td>
                    <form action="#" th:action="@{/player/removedoorkey}" method="post">
                        <input type="hidden" name="doorKeyId" th:value="${doorKey.id}">
                        <input type="submit" value="Remove" class="btn btn-secondary">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>