<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title id="title" th:text="${'Manage ' + manageModel.player.name}"></title>
</head>
<body id="content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-controls="player" aria-selected="true">Player</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false">Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="doors-tab" data-toggle="tab" href="#doors" role="tab" aria-controls="doors" aria-selected="false">Door Keys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="boards-tab" data-toggle="tab" href="#boards" role="tab" aria-controls="boards" aria-selected="false">Board Accesses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="professions-tab" data-toggle="tab" href="#professions" role="tab" aria-controls="professions" aria-selected="false">Professions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="craftingrequests-tab" data-toggle="tab" href="#craftingrequests" role="tab" aria-controls="craftingrequests" aria-selected="false">Crafting Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bans-tab" data-toggle="tab" href="#bans" role="tab" aria-controls="bans" aria-selected="false">Bans</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="player" role="tabpanel" aria-labelledby="player-tab">
            <div th:replace="player/manage :: manage"></div>
        </div>
        <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
            <div th:replace="player/inventory :: inventory"></div>
        </div>
        <div class="tab-pane fade" id="doors" role="tabpanel" aria-labelledby="doors-tab">
            <div th:replace="player/doorkeys :: doorkeys"></div>
        </div>
        <div class="tab-pane fade" id="boards" role="tabpanel" aria-labelledby="boards-tab">
            <div th:replace="player/boards :: boards"></div>
        </div>
        <div class="tab-pane fade" id="professions" role="tabpanel" aria-labelledby="professions-tab">
            <div th:replace="player/professions :: professions"></div>
        </div>
        <div class="tab-pane fade" id="craftingrequests" role="tabpanel" aria-labelledby="craftingrequests-tab">
            <div th:replace="player/craftingrequests :: craftingrequests"></div>
        </div>
        <div class="tab-pane fade" id="bans" role="tabpanel" aria-labelledby="bans-tab">
            <div th:replace="player/bans :: bans"></div>
        </div>
    </div>
</body>
</html>