<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<!--/*@thymesVar id="model" type="toker.warbandscripts.panel.model.PlayerLookupModel"*/-->
<head>
    <meta charset="UTF-8">
    <title id="title">Player Lookup</title>
</head>
<body id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Player Lookup</h4>
                <form action="#" th:action="@{/player/lookup}" method="post" th:object="${model}">
                    <div class="form-group">
                        <div th:if="${#fields.hasErrors('search')}">
                            <label style="color: red;">The search query should be:</label>
                            <ul>
                                <li style="color: red;">Between 1-32 characters</li>
                                <li style="color: red;">A-Z, a-z, 0-9, _ -</li>
                            </ul>
                        </div>
                        <input type="text" th:field="*{search}" class="form-control" placeholder="Name, ID or GUID (Case insensitive)">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h4>Associate GUID by IP Address</h4>
                <form action="#" th:action="@{/player/associate}" method="post" th:object="${model}">
                    <div class="form-group">
                        <input type="number" th:field="*{associateGUID}" class="form-control" placeholder="GUID">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Associate" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Item Finder</h4>
                <form action="#" th:action="@{/player/finditemowners}" method="post" th:object="${model}">
                    <div class="form-group">
                        <select th:field="*{findItemId}" class="form-control">
                            <option th:each="item : *{itemList}" th:text="${item.id + ' - ' + item.name}"
                                    th:value="${item.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Find Item Owners" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover" th:if="${model.searchResult}">
            <thead>
                <th>ID</th>
                <th>GUID</th>
                <th>Name</th>
                <th>Troop</th>
                <th>Faction</th>
                <th>Gold</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="player : ${model.searchResult}">
                    <td th:text="${player.id}"></td>
                    <td th:text="${player.uniqueId}"></td>
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.troopByTroopId.name}"></td>
                    <td th:text="${player.factionByFactionId.name}"></td>
                    <td th:text="${player.gold}"></td>
                    <td>
                        <a th:href="'/player/layout/' + ${player.id}" target="_blank">Manage</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover" th:if="${model.associationResult}">
            <thead>
                <th>Associated GUID</th>
            </thead>
            <tbody>
                <tr th:each="guid : ${model.associationResult}">
                    <td th:text="${guid}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>