<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="professions">
    <!--/*@thymesVar id="manageModel" type="toker.warbandscripts.panel.model.PlayerManageModel"*/-->
    <div class="container">
        <h4 th:text="'Professions of ' + ${manageModel.player.name}"></h4>
        <form action="#" th:action="@{/player/assignprofession}" method="post">
            <input type="hidden" name="playerId" th:value="${manageModel.player.id}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <select name="professionId" class="form-control">
                            <!--/*@thymesVar id="professionList" type="java.util.List<toker.warbandscripts.panel.entity.Profession>"*/-->
                            <option th:each="profession : ${professionList}" th:text="${profession.name}" th:value="${profession.id}"></option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="number" name="tier" id="tier" class="form-control">
                        <label for="tier">Tier</label>
                    </div>
                    <input type="submit" value="Assign Profession" class="form-control btn btn-primary col-lg-4">
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
            <th>Profession</th>
            <th>Tier</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="assignment : ${manageModel.player.professionAssignmentsById}">
                <td th:text="${assignment.professionByProfessionId.name}"></td>
                <td th:text="${assignment.tier}"></td>
                <td>
                    <form action="#" th:action="@{/player/revokeprofession}" method="post">
                        <input type="hidden" name="professionId" th:value="${assignment.professionByProfessionId.id}">
                        <input type="hidden" name="playerId" th:value="${manageModel.player.id}">
                        <input type="submit" value="Revoke" class="btn btn-secondary">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>