<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title id="title" th:text="${'Manage ' + model.board.name}"></title>
</head>
<body id="content">
<!--/*@thymesVar id="model" type="toker.warbandscripts.panel.model.BoardManageModel"*/-->
    <form action="#" th:action="@{/board/manage}" method="post" th:object="${model}" class="container bg-light bg-primary">
        <input type="hidden" th:field="*{board.id}">
        <h4 th:text="'Manage ' + *{board.name}"></h4>
        <fieldset>
            <div class="form-group">
                <label>ID:</label>
                <span th:text="*{board.id}"></span>
            </div>
            <div class="form-group">
                <label for="boardName">Name:</label>
                <input id="boardName" type="text" th:field="*{board.name}" class="form-control" placeholder="Board Name">
            </div>
            <input type="submit" value="Update Board" class="form-control btn btn-primary">
        </fieldset>
    </form>
    <div class="container">
        <h4 th:text="'Users of ' + ${model.board.name}"></h4>
        <table class="table table-hover">
            <thead>
                <th>User Name</th>
                <th>User Faction</th>
                <th>Is Owner</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="boardAccess : ${model.board.noticeBoardAccessesById}">
                    <td th:text="${boardAccess.playerByUserId.name}"></td>
                    <td th:text="${boardAccess.playerByUserId.factionByFactionId.name}"></td>
                    <td th:text="${boardAccess.isOwner ? 'Yes' : 'No'}"></td>
                    <td>
                        <form th:action="@{/board/removeboardaccess}" method="post">
                            <input type="hidden" name="boardId" th:value="${model.board.id}">
                            <input type="hidden" name="boardAccessId" th:value="${boardAccess.id}">
                            <input type="submit" value="Remove User" class="btn btn-secondary">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>