<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title id="title">Account</title>
</head>
<body id="content">
    <div class="container">
        <h4>Account</h4>
        <h6>Change Password</h6>
        <form action="#" th:action="@{/account/changepassword}" method="post" th:object="${changePasswordModel}">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input id="currentPassword" type="password" th:field="*{currentPassword}" class="form-control">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control">
            </div>
            <div class="form-group">
                <label for="newPasswordConfirm">Confirm New Password</label>
                <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}" class="form-control">
            </div>
            <div class="form-group">
                <p th:if="${model.newPasswordIsInvalid}" style="color: red;">New password is invalid</p>
                <p th:if="${model.newPasswordNotMatches}" style="color: red;">New password and the confirmation don't match</p>
                <p th:if="${model.newPasswordIsSet}" style="color: green;">Your password have been changed!</p>
                <p th:if="${model.currentPasswordIsWrong}" style="color: red;">Wrong current password</p>
                <input type="submit" value="Change Password" class="form-control">
            </div>
        </form>
    </div>
</body>
</html>