<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title id="title">Server Logs</title>
</head>
<body id="content">
    <form action="#" th:action="@{/log/fetch}" method="post" target="_blank" class="container">
        <h4>Logs</h4>
        <label style="color: red;">The search queries:</label>
        <ul>
            <li style="color: red;">Should contain at least 3 characters</li>
            <li style="color: red;">A-Z, a-z, 0-9</li>
            <li style="color: red;">Can contain only these special characters: {}[]-_ (Space too)</li>
        </ul>
        <div class="row">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
            <input type="text" name="queries" placeholder="Query" class="form-control col-lg-3">
        </div>
        <div class="row">
            <input type="date" name="date" class="form-control col-lg-6">
            <input type="submit" value="Fetch" class="form-control col-lg-6 btn btn-primary">
        </div>
    </form>

    <form action="#" th:action="@{/log/refresh}" method="post" class="container"
        th:if="${false}">
        <h4>Refresh Log File on the Panel</h4>
        <div class="row">
            <input type="date" name="date" class="form-control col-lg-6" disabled="true">
            <input type="submit" value="Refresh" class="form-control col-lg-6 btn btn-secondary" disabled="true">
        </div>
    </form>

    <form action="#" th:action="@{/log/fetchpanellog}" method="post" target="_blank" class="container"
        th:if="${#authorization.expr('hasRole(''ROLE_PANEL_LOG_FETCHER'')')}">
        <h4>Panel Logs</h4>
        <div class="row">
            <input type="date" name="date" class="form-control col-lg-6">
            <input type="submit" value="Fetch Panel Log" class="form-control col-lg-6 btn btn-primary">
        </div>
    </form>
</body>
</html>