<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <title id="title">Server Management</title>
</head>
<body id="content">
    <div class="container">
        <h4>Server</h4>
        <p>Do NOT spam the buttons.</p>
        <p>Click the "Refresh" button to see the server status. Do NOT F5.</p>
        <span th:text="${model.serverOn ? 'Server is running' : 'Server is offline'}"
            th:styleappend="${model.serverOn ? 'color:green;' : 'color:red;'}"></span>
        <div class="row">
            <div class="col-lg-3">
                <a href="/server">
                    <input type="button" value="Refresh" class="form-control btn btn-light">
                </a>
            </div>
            <form action="#" th:action="@{/server/operation/start}" method="post" class="col-lg-3">
                <input type="submit" value="Start" class="form-control btn btn-primary">
            </form>
            <form action="#" th:action="@{/server/operation/shutdown}" method="post" class="col-lg-3">
                <input type="submit" value="Shutdown" class="form-control btn btn-secondary">
            </form>
            <form action="#" th:action="@{/server/operation/toggleautostart}" method="post" class="col-lg-3">
                <input type="submit" th:value="${model.isAutoStart() ? 'Turn Off Auto Start' : 'Turn On Auto Start'}" class="form-control btn btn-secondary">
            </form>
        </div>
        <span th:if="${model.errorOccured}">An error occured during the process</span>

        <h4>Factions</h4>
        <form action="#" th:action="@{/server/savefactions}" method="post" th:object="${model}">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Banner ID</th>
                </thead>
                <tbody>
                    <tr th:each="faction, i : *{factions}">
                        <td>
                            <label th:text="${faction.id}"></label>
                            <input type="hidden" th:field="*{factions[__${i.index}__].id}">
                        </td>
                        <td>
                            <input type="text" th:field="*{factions[__${i.index}__].name}" placeholder="Faction Name" class="form-control">
                        </td>
                        <td>
                            <input type="number" th:field="*{factions[__${i.index}__].bannerId}" placeholder="Banner Id" class="form-control">
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Save Changes" class="form-control btn btn-primary">
        </form>

        <h4>Server Configuration</h4>
        <form th:each="configuration : ${model.configurations}"
              action="#" th:action="@{/server/configure}" method="post"
              th:object="${updateConfigurationModel}"
              style="border-width: 1px; border-style: solid; border-color: gray; border-radius: 5px; margin: 10px; padding: 10px;">
            <input type="hidden" name="id" th:value="${configuration.id}">
            <p th:text="${'Name: ' + configuration.name}"></p>
            <label for="textValue">Text Value</label>
            <input id="textValue" type="text" name="textValue" th:value="${configuration.textValue}" class="form-control">
            <label for="intValue">Number Value</label>
            <input id="intValue" type="number" name="intValue" th:value="${configuration.intValue}" class="form-control">
            <input type="submit" value="Update" class="btn btn-primary">
        </form>
    </div>
</body>
</html>