<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::#title}, ~{::#content})">
<!--/*@thymesVar id="model" type="toker.warbandscripts.panel.model.DoorListModel"*/-->
<head>
    <meta charset="UTF-8">
    <title id="title">Doors</title>
</head>
<body id="content">
    <div class="container">
        <h4>Doors</h4>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Is Locked</th>
                <th></th>
                </thead>
            <tbody>
                <tr th:each="door : ${model.doors}">
                    <td th:text="${door.id}"></td>
                    <td th:text="${door.name}"></td>
                    <td th:text="${door.locked ? 'Locked' : 'Unlocked'}"></td>
                    <td>
                        <a th:href="'/door/manage/' + ${door.id}">Manage</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>